@charset UTF-8;

ul {
    list-style: none;

}

li {
    margin: 4px;
}

li a {
    margin: 10px;
}

/* Estilo para o link de excluir */
ul a:nth-of-type(3):hover,
.ul a:nth-of-type(3).selected {
    background-color: #dd3243;
    font-weight: bold;
    color: white;
}