/* Reset padrão */
* {
    margin: 0;
    padding: 0; 
}
/* Definindo que os elementos html e body ocuparão toda tela */
html, body {
    width: 100%;
    height: 90%;
}

body{
   /*background: #7159c1;*/
   background-color: #2787e5;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.346)
}

section#resultado {
    background-color: #e2e3e5;
    text-align: center;
}

#opcoes {
    margin-bottom: 0px;
}

/* Remove as setas do input number */
/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}
*/


#cpfvalidado {
    margin: 0px;
    width: 220px;
    height: 40px;
    padding: 4px;
    background-color: white;
}

#cpfgerado {
    margin: 0px;
    width: 220px;
    height: 40px;
    padding: 4px;
    background-color: white;
}

.botao {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #02b875;
    border: 2px solid #80dbba;
    border-radius: 10px;
    padding: 3px;
    width: 35%; /* deixando ele responsivo */
    font-size: 12pt;
    color: #fff;
    cursor: pointer;
    outline: none;

}

.botao:hover {
    background-color: #02925d;
}

footer{
    font: normal 10pt Arial;
    color: white;
    text-align: center;
    font-style: italic;
}