body{
   background: #7159c1;
   font: normal 15pt Arial;
   /*color: white;
   text-align: center;
   */
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.346)

}

#opcoes {
    margin-bottom: 0px;
}


#start input {
    background-color: #0facf3;
    border: 2px solid #0b7eb1;
    border-radius: 10px;
    padding: 2px;
    width: 40%; /* deixando ele responsivo */
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}